List and tuple

Learn more list - https://www.w3schools.com/python/python_lists.asp

Learn more tuple - https://www.w3schools.com/python/python_tuples.asp

In [1]:
my_num_list = [1, 2, 3, 4, 5, 6, 7]
my_num_list

[1, 2, 3, 4, 5, 6, 7]

In [2]:
my_str_list = ["apple", "banana", "cherry"]
my_str_list

['apple', 'banana', 'cherry']

In [3]:
len(my_num_list)

7

In [4]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [5]:
list1 = ["abc", 34, True, 40, "male"]
list1

['abc', 34, True, 40, 'male']

In [6]:
list1[0]

'abc'

In [7]:
list1[0] = 7
list1

[7, 34, True, 40, 'male']

In [8]:
list1[-1]

'male'

In [9]:
list1[-2]

40

In [10]:
list1[:2]

[7, 34]

In [11]:
list1[2:4]

[True, 40]

In [12]:
list1.append("hello")

In [13]:
list1

[7, 34, True, 40, 'male', 'hello']

In [14]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list1 + list2

['a', 'b', 'c', 1, 2, 3]

In [15]:
my_tuple = tuple(list1)
my_tuple

('a', 'b', 'c')

In [16]:
my_tuple = ("a", "b", "c")
my_tuple

('a', 'b', 'c')

In [17]:
list(my_tuple)

['a', 'b', 'c']

In [18]:
my_tuple[0]

'a'

In [20]:
my_tuple[0]=10

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)
tuple1 + tuple2

('a', 'b', 'c', 1, 2, 3)